

<%- include("partials/header"); -%>
<html lang="en" dir="ltr">

<head>
  <script src='https://cdn.tiny.cloud/1/64jwcjl8yjmrwgmaw6las3pirma55piz31adk7sprs9bdolr/tinymce/5/tinymce.min.js' referrerpolicy="origin">
  </script>

  <script>
    tinymce.init({
      selector: '#mytextarea'
    });
  </script>

</head>

<body>

  <h1>Compose</h1>
  <form class="" action="/compose" method="post">
    <div class="form-group">
      <label>Title</label>
      <input class="form-control" type="text" name="postTitle">
      <label>Post</label>

      <textarea id="mytextarea"  class=" form-control" name="postBody" rows="5" cols="30"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="button">Publish</button>
  </form>
</body>



<%- include("partials/footer"); -%>


</html>
