<%- include("partials/header"); -%>
<h1>Contact</h1>
<p> <%= contactContent %> </p>
<ul>
  <li><a href="mailto:derik.p.schaefer@gmail.com">Email</a></li>
  <li> <a target=_blank href="https://derikschaefer.github.io/Main/">Portfolio</a> </li>
  <li><a href="https://www.linkedin.com/in/derik-schaefer-b2a7611b6/" target=_blank>linkedin</a></li>
  <li><a target=_blank href="https://github.com/DerikSchaefer">Github</a></li>
  <li> <a target=_blank href="https://www.facebook.com/derik.schaefer">Facebook</a></li>
</ul>





<%- include("partials/footer"); -%>
